<web-app>

<servlet>
	<servlet-name>DemoServlet</servlet-name>
	<servlet-class>FirstServlet</servlet-class>

</servlet>
<servlet-mapping>
	<servlet-name>DemoServlet</servlet-name>
	<url-pattern>/fir</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DemoServlet1</servlet-name>
	<servlet-class>FirstServlet</servlet-class>
	<load-on-startup>10</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>DemoServlet1</servlet-name>
	<url-pattern>/sec</url-pattern>
</servlet-mapping>



</web-app>