<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContextApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mqsql:///jdbc</param-value>
  </context-param>
  <context-param>
    <param-name>uName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>uPassword</param-name>
    <param-value>Pav@0211</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ServletContextObject</display-name>
    <servlet-name>ServletContextObject</servlet-name>
    <servlet-class>com.pavan.controler.ServletContextObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextObject</servlet-name>
    <url-pattern>/sco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletObjectUsingCotext</display-name>
    <servlet-name>ServletObjectUsingCotext</servlet-name>
    <servlet-class>com.pavan.controler.ServletObjectUsingCotext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObjectUsingCotext</servlet-name>
    <url-pattern>/souc</url-pattern>
  </servlet-mapping>
</web-app>